<div class="wrapper">
<h2> Available Assets </h2>
  <div class="container" [dragula]='"assets-bag"'> 
    <div class="asset-image" *ngFor="let myAsset of availableAssets">
      <img src="https://blognumbers.files.wordpress.com/2010/09/{{myAsset.name}}.jpg" alt="{{myAsset.name}}" >
    </div>
  </div>

<h2> New Assets </h2> 
  <div class="container" [dragula]='"assets-bag"'>
    <div class="asset-image" *ngFor="let myAsset of newAssets">
      <img src="https://blognumbers.files.wordpress.com/2010/09/{{myAsset.name}}.jpg" alt="{{myAsset.name}}">
    </div>
  </div>
</div>

