  <h3>Add Time Range </h3>

  <div id="timepicker">
    <timepicker [(ngModel)]="startTime" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian"></timepicker>

    <pre class="alert alert-info">Start Time: {{dateService.getTime(startTime)}}</pre>

    <timepicker [(ngModel)]="endTime" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian">End Time:</timepicker>

    <pre class="alert alert-info">End Time: {{dateService.getTime(endTime)}}</pre>
  </div>

  <div id="weekdaypicker">
   <ul class="weekday-selection">
    <li *ngFor="let weekIndex of [0, 1, 2, 3, 4, 5, 6]" (click)=onSelect(weekIndex) 
    [class.selected]="selectedWeekdays[weekIndex]">
    {{weekdays[weekIndex]}}
  </li>
</ul>
</div>

<button (click)=applyTimeRange() [disabled]="canApplyTimeRange()"> Apply Time Range</button>



<h3> Add a Used Time Range</h3>
<ul class="weekday-selection">

  <li class="btn-group" dropdown *ngFor="let weekIndex of [0, 1, 2, 3, 4, 5, 6]" 
  [class.selected]="selectedWeekdays[weekIndex]">

  <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
    {{weekdays[weekIndex]}} <span class="caret"></span>
  </button>

  <ul dropdownMenu role="menu" aria-labelledby="single-button" 
  *ngIf="usedTimeRanges[weekIndex].length > 0">        
  <li role="menuitem" 
    *ngFor="let usedTimeRange of usedTimeRanges[weekIndex]"
    (click)="applyUsedTimeRange(weekIndex, usedTimeRange)"> 
    {{dateService.getTime(usedTimeRange.start)}} to {{dateService.getTime(usedTimeRange.end)}}
  </li> 
</ul>

</li>
</ul>




















