<h1> My Tasks </h1>
<ul class="my-tasks">
  <li *ngFor="let task of myTasks"> 
    <ul>
      <li> ID: {{task.id}}</li> 
      <li> START TIME: {{task.startTime}}</li>
      <li> END TIME: {{task.endTime}}</li>
      <li> DESCRIPTION: {{task.description}} </li>
      <li> ASSETS: {{task.assets}} </li>
      </ul>
  </li>
</ul>


<h1> Participating Tasks </h1>
<ul class="participating-tasks">
  <li *ngFor="let task of participatingTasks"> 
    <ul>
      <li> ID: {{task.id}}</li> 
      <li> START TIME: {{task.startTime}}</li>
      <li> END TIME: {{task.endTime}}</li>
      <li> DESCRIPTION: {{task.description}} </li>
      <li> ASSETS: {{task.assets}} </li>
      </ul>
  </li>
</ul>

<div class='wrapper'>
  <div class="container" [dragula]='"assets-bag"'> 
    <div *ngFor="let assetNumber of myAssets">
<!--       Embed img tag in <a> tag-->    
  <img src="https://blognumbers.files.wordpress.com/2010/09/{{assetNumber}}.jpg" alt="{{assetNumber}}" height="60" width="50" (click)=imageClick()>
    </div>
  </div>

  <div class="container" [dragula]='"assets-bag"'> 
    <div *ngFor="let assetNumber of otherAssets">
      <img src="https://blognumbers.files.wordpress.com/2010/09/{{assetNumber}}.jpg" alt="{{assetNumber}}" height="60" width="50" (click)=imageClick()>
    </div>
  </div>
</div>
