  <h2 *ngIf="mockUser"> {{mockUser.lastname}}, {{mockUser.firstname}} </h2>

  <tabset>
    <tab heading="Active Tasks">
      Active Tasks wooo
      <!-- <active-tasks [mockUser]="mockUser"></active-tasks> -->
    </tab>

    <tab heading="Potential Tasks">
      Potential Tasks BEST TASKS
      <!-- <potential-tasks [mockUser]="mockUser"></potential-tasks> -->
    </tab>

    <tab heading="Previous Tasks">
      PREV IS WEAVE
      <!-- <previous-tasks [mockUser]="mockUser"></previous-tasks> -->
    </tab>

    <tab heading="Profile">
      <profile [mockUser]="mockUser"></profile>
    </tab>

  </tabset>


