<h1> Profile </h1>
<ul>
  <li>Name: {{mockUser.firstname}} {{mockUser.lastname}} </li>
  <li>Username: {{mockUser.username}} </li>
  <li>Password: {{mockUser.password}} </li>
  <li>Email: {{mockUser.email}} </li>
  <li>Notification Frequency: {{mockUser.notificationFrequency}} </li>
  <li>Description: {{mockUser.description}} </li>
  <li>Image: {{mockUser.image}}</li>
</ul>

<h2> My Assets </h2>
<div class="wrapper">
  <div class="container" [dragula]='"assets-bag"'> 
    <div class="asset-image" *ngFor="let myAsset of myAssets">
      <img src="https://blognumbers.files.wordpress.com/2010/09/{{myAsset.name}}.jpg" alt="{{myAsset.name}}" (click)='imageClick(myAsset, $event)'>

      <week-time-shower class="asset-image-hover-menu" [asset]="myAsset"></week-time-shower>
    </div>
  </div>
</div>

<week-time-shower *ngIf="selectedAsset" [asset]="selectedAsset"></week-time-shower>
<week-time-picker *ngIf="selectedAsset" [asset]="selectedAsset"></week-time-picker>