<h1> Profile </h1>
<ul *ngIf="mockUser">
  <li>Name: {{mockUser.firstname}} {{mockUser.lastname}} </li>
  <li>Username: {{mockUser.username}} </li>
  <li>Password: {{mockUser.password}} </li>
  <li>Email: {{mockUser.email}} </li>
  <li>Notification Frequency: {{mockUser.notificationFrequency}} </li>
  <li>Description: {{mockUser.description}} </li>
  <li>Image: {{mockUser.image}}</li>
</ul>

<h2> Assets </h2>
<div class="wrapper">
  <div class="container" [dragula]='"assets-bag"'> 
    <div class="asset-image" *ngFor="let myAsset of myAssets">
      <img src="https://blognumbers.files.wordpress.com/2010/09/{{myAsset.name}}.jpg" alt="{{myAsset.name}}" (click)="imageClick(myAsset, $event); lgEditAssetModal.show()">

      <week-time-shower class="asset-image-hover-menu" [asset]="myAsset"></week-time-shower>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="newAssetsClicked(); lgNewAssetsModal.show()">Add New Assets</button>


<h2> Locations </h2>
<div *ngIf="myLocations.length > 0" class="wrapper">
  <div class="container" [dragula]='"locations-bag"'>
    <div *ngFor="let location of myLocations">
      <div>
        ADDRESS: {{location.address}}, RADIUS: {{location.radius}}
      </div>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="newLocationsClicked(); lgNewLocationsModal.show()"> Add Locations </button>



<!-- Popup when an asset is clicked -->
<div bsModal #lgEditAssetModal="bs-modal" class="modal fade" tabindex="-1" 
role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div *ngIf="selectedAsset" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="lgEditAssetModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{selectedAsset.name}}</h4>
    </div>
    <div class="modal-body">
      <div id="timeeditor">
        <week-time-shower [asset]="selectedAsset"></week-time-shower>
        <week-time-picker (submit)="addTimeRangeToAsset($event)" ></week-time-picker>
      </div>
    </div>
  </div>
</div>
</div>

<div bsModal #lgNewAssetsModal="bs-modal" class="modal fade" tabindex="-1" 
role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div *ngIf="newAssetsShow" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeNewAssetsClicked(); lgNewAssetsModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Pick new assets</h4>
    </div>
    <div class="modal-body">
      <div id="timeeditor">
        <new-assets-picker (submit)="addAssets($event)"></new-assets-picker> 
      </div>
    </div>
  </div>
</div>
</div>


<div bsModal #lgNewLocationsModal="bs-modal" class="modal fade" tabindex="-1" 
role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div *ngIf="newLocationsShow" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeNewLocationsClicked(); lgNewLocationsModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Add a Location</h4>
    </div>
    <div class="modal-body">
      <div id="timeeditor">
        <location-picker (newLoc)="addLocation($event)"></location-picker>
      </div>
    </div>
  </div>
</div>
</div>







